/*============================
		COLOR Blue
==============================*/
::selection {
  background: #0d6efd;
}

a,
a:focus {
  color: #0d6efd;
}

a:hover,
a:active {
  color: #025de4;
}

.primary-menu ul.navbar-nav > li:hover > .nav-link:not(.btn):not(.active) {
  color: #0d6efd;
}

.primary-menu ul.navbar-nav > li > .nav-link:not(.btn):before {
  border-bottom: 2px solid #0d6efd;
}

.primary-menu
  ul.navbar-nav
  > li.dropdown
  .dropdown-menu
  li:hover
  > a:not(.btn) {
  color: #0d6efd;
}

/*== Secondary Nav ==*/
.secondary-nav.nav.alternate .nav-item .nav-link.active {
  border-color: #0d6efd;
}

/* Page Header */
.page-header.page-header-text-dark .breadcrumb > li a:hover {
  color: #0d6efd;
}

/* Accordion & Toggle */
.accordion:not(.accordion-flush) .accordion-header .accordion-button {
  background-color: #0d6efd;
}

/* Nav */
.nav:not(.nav-pills) .nav-item .nav-link.active,
.nav:not(.nav-pills) .nav-item .nav-link:hover {
  color: #0d6efd;
}

.nav-tabs .nav-item .nav-link.active {
  color: #0c2f55;
}

.nav-tabs .nav-item .nav-link.active:after {
  background-color: #0d6efd;
}

.nav-tabs .nav-item .nav-link:not(.active):hover {
  color: #0d6efd;
}

.nav-tabs.flex-column .nav-item .nav-link.active {
  color: #0d6efd;
}

.nav-pills .nav-link:not(.active):hover {
  color: #0d6efd;
}

/* Brands Grid */
.brands-grid > .row > div a:hover {
  color: #0d6efd;
}

/* Blog */
.list-item li a:hover {
  color: #0d6efd;
}

.tags a:hover {
  background: #0d6efd;
}

.side-post .item-post .caption a:hover {
  color: #0d6efd;
}

.blog-post .title-blog a:hover {
  color: #0d6efd;
}

.blog-post .meta-blog li i {
  color: #0d6efd;
}

.blog-post .meta-blog li a:hover {
  color: #0d6efd;
}

#footer .nav .nav-item .nav-link:focus {
  color: #0d6efd;
}

#footer .nav .nav-link:hover {
  color: #0d6efd;
}

#footer .footer-copyright .nav .nav-link:hover {
  color: #0d6efd;
}

/* Back to Top */
#back-to-top:hover {
  background-color: #0d6efd;
}

/* Extras */
.bg-primary,
.form-check-input:checked {
  background-color: #0d6efd !important;
}

.text-primary,
.link-primary,
.btn-link {
  color: #0d6efd !important;
}

.btn-link:hover,
.link-primary:hover {
  color: #025de4 !important;
}

.text-muted {
  color: #8e9a9d !important;
}

.text-light {
  color: #dee3e4 !important;
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: #025de4 !important;
}

.border-primary,
.form-check-input:checked {
  border-color: #0d6efd !important;
}

.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-primary:hover {
  background-color: #025de4;
  border-color: #025de4;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #025de4;
  border-color: #025de4;
}

.btn-primary.focus,
.btn-primary:focus {
  background-color: #025de4;
  border-color: #025de4;
}

.btn-outline-primary,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #0d6efd;
  border-color: #0d6efd;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active:hover {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
}

.progress-bar,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.dropdown-item.active,
.dropdown-item:active {
  background-color: #0d6efd;
}

.page-item.active .page-link,
.custom-radio .custom-control-input:checked ~ .custom-control-label:before,
.custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before,
.custom-control-input:checked ~ .custom-control-label:before {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.list-group-item.active {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.owl-theme.single-slideshow .owl-dots .owl-dot.active span,
.owl-theme.single-slideshow .owl-dots .owl-dot:hover span {
  border-color: #0d6efd;
}

.owl-theme.single-slideshow .owl-dots .owl-dot.active span:after,
.owl-theme.single-slideshow .owl-dots .owl-dot:hover span:after {
  background-color: #0d6efd;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  border-color: #0d6efd;
}

.owl-theme .owl-dots .owl-dot.active span:after,
.owl-theme .owl-dots .owl-dot:hover span:after {
  background-color: #0d6efd;
}

.owl-theme.owl-light .owl-dots .owl-dot.active span:after,
.owl-theme.owl-light .owl-dots .owl-dot:hover span:after {
  background-color: #0d6efd;
}
